
body{
font-family: 'Poppins', sans-serif;
margin: 0px;
}

h1{
    font-size: 50px;
   
}
.h2{
    font-size: 45px;
}
.orange-color{
    color: orange;
}


.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 100%;
    
}
.link-button{
            text-decoration: none;
            color: white;
            font-weight: 700;
            background-image: linear-gradient(rgba(226, 80, 13, 0.808),rgb(245, 149, 71));
            padding: 6px 14px;
            border-radius: 5px;
            


}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 52px;
    
}
.experences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
   
}
.experence-item{
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    box-shadow: gray 10px 10px 40px;
    border-left: 10px solid black;
}
